@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  color: #333;
  font-family: 'Roboto';
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* 스크롤바 없애기 */
.dailyScrollArea,
.weekScrollArea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.dailyScrollArea::-webkit-scrollbar,
.weekScrollArea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

