:root {
  --white: #ffffff;
  --black: #171717;
  --gray: #aaa;
  --skyblue: #4c9fff;

  --font-10: 10px;
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-22: 22px;
  --font-24: 24px;
  --font-26: 26px;
  --font-28: 28px;
  --font-30: 30px;
}
